html {
    font-size: 1rem;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.875rem;
}

h3 {
    font-size: 1.625rem;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.15rem;
}

p, a, ul li, ol li {
    line-height: 1.5
}

a {
    text-decoration: none;
}

.white-anchor a {
    color: white;
}

button {
    border: 0;
}

.mw-50 {
    max-width: 780px;
}

.h {
    &-sm-100 {
        @media screen and ( min-width: 320px ) {
            height: 100%;
        }
    }

    &-md-100 {
        @media screen and ( min-width: 768px ) {
            height: 100%;
        }
    }

    &-sm-100 {
        @media screen and ( min-width: 1200px ) {
            height: 100%;
        }
    }
}