.survey_form
{
    max-width: 600px;
    width: 100%;
    padding: 2rem 1rem;
    margin: 1rem auto;
    background-color: #ffffff;
    border-radius: 10px;

    &-bar 
    {
        position: relative;
        padding: 0.5rem;
        border-radius: 7.5px;
        border: 1px solid #e5e5e5;
        margin-bottom: 20px;
        color: #fff;
        font-weight: bold;
        text-align: center;

        &--progression
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #36c240;
            transition: width 0.2s ease-in-out;
            z-index: 0;
        }

        &--count 
        {
            position: relative;
            z-index: 1;
            transition: all 0.2s ease-in-out;
        }
    }

    &-content
    {
        &__body 
        {
            display: none;

            &.active 
            {
                display: block;
            }

            &--header 
            {
                font-size: 1.3rem;
                font-weight: bold;
                text-align: center;
            }

            &--input-group
            {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 1rem;

                &-radio
                {
                    position: relative;
                    width: 100%;

                    & input 
                    {
                        position: absolute;
                        left: -9999px;
                        width: 1px;
                        height: 1px;
                        overflow: hidden;
                    }

                    & label 
                    {
                        border-radius: 0.25rem;
                        font-size: 1.25rem;
                        cursor: pointer;
                        border: 1px solid #4e76a9;
                        color: #113451;
                        padding: 0.5rem 0.75rem;
                        width: 100%;
                        box-shadow: 0 1px 0 #454545, 0 2px 2px #ccc!important;
                        display: inline-block;
                        margin-bottom: 0.5rem;
                        text-align: center;

                        &:hover
                        {
                            background-color: #e3fbda;
                            &::before 
                            {
                                background: #53d75e;
                            }
                        }


                        &::before
                        {
                            width: 1.375rem;
                            height: 1.375rem;
                            color: #236aa5;
                            content: '';
                            display: block;
                            position: absolute;
                            top: 45%;
                            transform: translateY(-50%);
                            background-image: none;
                            background-color: #fff;
                            box-shadow: 0 0 0 4px #fff inset,0 0 0 5px currentcolor inset,0 0 0 1px currentcolor,0 0 0 2px hsla(0,0%,0%,.1);
                            transition: box-shadow .2s ease-out;
                            border-radius: 50%;
                            color: #444!important;
                        }
                    }

                    @media screen and (min-width: 768px)
                    {
                        width: calc( 50% - 2rem );
                        margin: 0 1rem;
                    }
                }

                &-text
                {
                    position: relative;
                    width: 100%;
                    margin: 0 1rem 1rem 1rem;

                    & input 
                    {
                        border: 1px solid #4e76a9;
                        color: #113451;
                        padding: 0.5rem 0.75rem;
                        width: 100%;
                        -webkit-box-shadow: 0 0 4px 1px hsla(214,37%,24%,.15);
                        box-shadow: 0 0 4px 1px hsla(214,37%,24%,.15);
                        font-size: 1.2rem;
                        line-height: 1.6;
                        border-radius: 4px;
                        height: calc(2rem + 10px);
                    };

                    & label 
                    {
                        position: absolute;
                        left: -9999px;
                        width: 1px;
                        height: 1px;
                        overflow: hidden;
                    }
                }
            }
        }

        &__button 
        {
            color: #fff;
            background-color: #f15f5f;
            border: 2px solid #ac320d;
            font-size: 1.875em!important;
            width: calc( 100% - 2rem );
            margin: 0 1rem;
            color: #fff;
            font-weight: bold;
            font-size: 1.25em;
            padding: 1rem;
        }

        &__warning
        {
            display: block;
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            padding: 1rem;
            margin-top: 1rem;
            margin: 1rem 1rem 0 1rem;
            border-radius: 5px;
        }
    }

    &-misc 
    {
        display: flex;
        font-size: 1rem;
        margin: 2rem 0 0 0;

        p
        {
            margin: 0;
        };

        &--left
        {
            margin-right: auto;
            color: #000000;
        }
        &--right
        {
            margin-left: auto;
        }
    }
}